In [9]:
import pandas
data = pandas.read_csv("GSS2012a.csv")
data

<ipython-input-9-4cdd31d6ac75>:2: DtypeWarning: Columns (11,115,123,187,274,284,287,288,290,291,292,397,585,595,628,632) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pandas.read_csv("GSS2012a.csv")

,year,id,mar1,BMITZVAH,accntsci,age,sex,life,ENGDO,SCIENTBR,...,wrksch,wrkslf,wrkstat,wrkwayup,wwwhr,wwwmin,xmarsex,xmovie,xnorcsiz,zodiac
0,2012.0,1.0,MARRIED,NaN,NaN,22.0,MALE,EXCITING,NaN,NaN,...,WORK PART-TIME,SOMEONE ELSE,WORKING PARTTIME,AGREE SOMEWHAT,5.0,NaN,ALWAYS WRONG,NaN,"UNINC,MED CITY",LIBRA
1,2012.0,6.0,DIVORCED,NaN,NaN,50.0,FEMALE,NaN,NaN,NaN,...,WORK FULL-TIME,SOMEONE ELSE,OTHER,AGREE SOMEWHAT,0.0,0.0,SOMETIMES WRONG,NaN,"CITY,50-250000",TAURUS
2,2012.0,7.0,MARRIED,NaN,NaN,35.0,FEMALE,NaN,NaN,NaN,...,NaN,SOMEONE ELSE,KEEPING HOUSE,AGREE SOMEWHAT,2.0,NaN,NaN,NO,"CITY,50-250000",SCORPIO
3,2012.0,9.0,SEPARATED,NaN,NaN,28.0,FEMALE,ROUTINE,NaN,NaN,...,WORK PART-TIME,NaN,KEEPING HOUSE,AGREE STRONGLY,NaN,NaN,ALWAYS WRONG,NaN,"CITY,50-250000",LIBRA
4,2012.0,11.0,DIVORCED,NaN,NaN,55.0,MALE,ROUTINE,NaN,NaN,...,NaN,SOMEONE ELSE,OTHER,NaN,14.0,NaN,SOMETIMES WRONG,NaN,"SUBURB, MED CITY",PISCES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,2012.0,563.0,MARRIED,NaN,NaN,50.0,FEMALE,EXCITING,NaN,NaN,...,NaN,SELF-EMPLOYED,WORKING PARTTIME,NaN,NaN,NaN,ALWAYS WRONG,NO,CITY GT 250000,NaN
1970,2012.0,1121.0,MARRIED,NaN,NaN,65.0,FEMALE,NaN,NaN,NaN,...,NaN,SOMEONE ELSE,WORKING FULLTIME,AGREE SOMEWHAT,NaN,NaN,NaN,NO,"UNINC,MED CITY",GEMINI
1971,2012.0,1350.0,MARRIED,NaN,NaN,63.0,MALE,EXCITING,Good,NaN,...,NaN,SOMEONE ELSE,RETIRED,NaN,NaN,NaN,ALMST ALWAYS WRG,YES,"UNINC,MED CITY",GEMINI
1972,2012.0,1433.0,MARRIED,NaN,NaN,81.0,MALE,NaN,NaN,NaN,...,NaN,SELF-EMPLOYED,RETIRED,NEITHER AGREE NOR DISAGREE,NaN,NaN,NaN,NO,"SUBURB, MED CITY",GEMINI
1973,2012.0,1679.0,MARRIED,No,NaN,18.0,FEMALE,NaN,NaN,NaN,...,NaN,NaN,SCHOOL,DISAGREE STRONGLY,6.0,0.0,NaN,NO,SMALLER AREAS,ARIES

In [11]:
data['mar1'].value_counts()

mar1
MARRIED          972
NEVER MARRIED    395
DIVORCED         314
WIDOWED          181
SEPARATED         79
Name: count, dtype: int64

In [ ]:
'''
Research Question - Are people more likely to get married?

H0 - There is no preference and the distribution of each category is same
Ha - There is a preference and the distribution of each category is not same
'''

In [13]:
from scipy.stats import chisquare

chisquare(data['mar1'].value_counts())

Power_divergenceResult(statistic=1249.1262235960844, pvalue=3.564167265021484e-269)

In [14]:
statistic=1249.1262235960844
pvalue=3.564167265021484e-269

In [17]:
# Cramer V effect size
# n - samples
# df - number of categories - 1

n = data.shape[0]
df = 4
cv = (statistic / (n * df)) ** 0.5
cv

0.39774029644215225

In [ ]:
# if df is k

'''
0 to 0.1/sqrt(k-1) - negligible
0.1/sqrt(k-1) to 0.3/sqrt(k-1) - small
0.3/sqrt(k-1) to 0.5/sqrt(k-1) - medium
0.5/sqrt(k-1) and above - large
'''

In the population the different categories are not evenly distributed as per the pearson chisquare goodness of fit test (p<0.05) and the difference in the categories is ..... (cramer v = 0.397)